
# Mac
.DS_Store

# Keystore files
*.jks
*.keystore

# Maven
log/
target/

# Gradle files
local.properties
.gradle/
build/

# Java dump files
hs_err*

# Intellij
.idea/
*.iml
*.iws

# NDK
.externalNativeBuild/
.cxx/

# Log Files
*.log

# CouchbaseLite 
CouchbaseLiteTemp/
*.cblite2/

# Snippets
/snippet*

